<ion-header no-border no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" 
      color="primary">{{skipLabel}}</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of slides">
      <img class="animated tada delay-5s" [src]="slide.image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <div *ngIf="isLastSlide; else activeTemplate">  
        <ion-slide>
          <img src="assets/imgs/trip.png" class="slide-image" />
          <h2 class="slide-title">{{lastTitle}}</h2>
          <p>{{lastDescription}}</p>
          <button ion-button icon-end large clear (click)="startApp()">
            {{lastButtonLabel | uppercase}}
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-slide>
   </div>
   <ng-template #activeTemplate> 
     
   </ng-template>


  </ion-slides>
</ion-content>

