page-welcome-tutorial {
    .swiper-pagination-bullet-active{
        background: color($colors, primary) !important;
        opacity: 1;
    }

    img {
        display: block;
        margin: 0 auto;
        height: 250px !important;
        width: auto !important;
    }


    .slide-zoom {
        height: 100%;
    }

    .slide-title {
        margin-top: 2.8rem;
    }
    
      b {
        font-weight: 500;
      }
    
      p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
    
        b {
          color: #000000;
        }
      }
}
