page-about {

  img {
      margin-top: 20px !important;
      display: block;
      margin: 0 auto;
      height: 35%;
      width: auto;
      margin-bottom: 20px !important;
      opacity: 0.75;
    }

  p {
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;
    
        b {
          color: #000000;
        
        }
  }

  .sub-title {
      margin-top: -2px;
      font-size: 1.3em !important; 
      line-height: 1.5;
      color: #60646B;
      text-align: center !important;
  }

  .paragraph {
      line-height: 1.5;
      color: #60646B;
      margin-top: -20px;
      font-size: 1.1em !important; 
      text-align: center !important;
      // max-width: 500px !important;
  }

  @media only screen and (max-width: 600px) {

     p { 
        margin-top: 9px;
        font-size: 1.7em !important;
        text-align: center !important;
        //font-weight:bold !important;
        margin-bottom: 10px;
     }

     .sub-title {
        font-size: 1.1em !important;
        text-align: center !important;

     }

     .paragraph {
        font-size: 0.8em !important; 
        //text-align: center !important;
    }


  }

}
