<ion-content padding (swipe)="swipeEvent($event)">

<!-- Emoji thumbnail -->
<img id="tmojiLogo" (click)="tmojiClick()" src="assets/icon/icon_about.png">

	<!-- <p text-center> Tmoji </p>	 -->
	<p class="sub-title"> 
		Translate with emojis
	</p>
	<div padding text-justify class="paragraph"> 
		<!-- Emoji artwork is provided by <a href="https://emojitwo.github.io/">Emojitwo</a>, originally released as <a href="https://www.emojione.com/">Emojione 2.2 </a>by <a href="http://www.ranks.com/">Ranks.com </a>with contributions from the Emojitwo community and is licensed under <a href="http://www.ranks.com/">CC-BY 4.0.</a>	 -->
		<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
	</div>
	

	<div padding>
	<button small ion-button outline block icon-start
			(click)="onTellFriend()" >
		 	<div [ngSwitch]="deviceLanguage">
		        <div *ngSwitchCase="'en'">SHARE WITH A FRIEND</div>
		        <div *ngSwitchCase="'es'">COMPARTIR CON UN AMIGO</div>
		        <div *ngSwitchCase="'ja'">友達とシェアする</div>
		        <div *ngSwitchCase="'fr'">PARTAGER AVEC UN AMI</div>
		        <div *ngSwitchCase="'ru'">ПОДЕЛИТЬСЯ С ДРУГ</div>
		        <div *ngSwitchCase="'de'">MIT EINEM FREUND TEILEN</div>
		        <div *ngSwitchCase="'hi'">एक दोस्त के साथ साझा करें</div>
		        <div *ngSwitchCase="'zh'">与朋友分享</div>
		        <div *ngSwitchCase="'ar'">شارك مع صديق</div>
		        <div *ngSwitchCase="'pt'">COMPARTILHAR COM UM AMIGO</div>
		        <div *ngSwitchDefault>SHARE WITH A FRIEND</div>
		 </div>
	</button>
	<!-- <div *ngIf="isMobileFree"> -->
		<button small ion-button outline block icon-start
			(click)="onRemoveAds()" >
				<div [ngSwitch]="deviceLanguage">
						<div *ngSwitchCase="'en'">REMOVE ADS</div>
						<div *ngSwitchCase="'es'">ELIMINAR ANUNCIOS</div>
						<div *ngSwitchCase="'ja'">広告を削除</div>
						<div *ngSwitchCase="'fr'">SUPPRIMEZ LA PUB</div>
						<div *ngSwitchCase="'ru'">УБРАТЬ РЕКЛАМУ</div>
						<div *ngSwitchCase="'de'">ANZEIGEN ENTFERNEN</div>
						<div *ngSwitchCase="'hi'">विज्ञापन हटाएँ</div>
						<div *ngSwitchCase="'zh'">移除广告</div>
						<div *ngSwitchCase="'ar'">ازالة الاعلانات</div>
						<div *ngSwitchCase="'pt'">REMOVER PROPAGANDAS</div>
						<div *ngSwitchDefault>REMOVE ADS</div>
		 </div>
		</button>	
	<!-- </div> -->

	<button small ion-button outline block icon-start
			(click)="onSendFeedback()" >
			<div [ngSwitch]="deviceLanguage">
					<div *ngSwitchCase="'en'">SEND FEEDBACK</div>
					<div *ngSwitchCase="'es'">ENVIAR COMENTARIOS</div>
					<div *ngSwitchCase="'ja'">フィードバックを送信</div>
					<div *ngSwitchCase="'fr'">ENVOYER DES COMMENTAIRES</div>
					<div *ngSwitchCase="'ru'">ОТПРАВИТЬ ОТЗЫВ</div>
					<div *ngSwitchCase="'de'">FEEDBACK ABSCHICKEN</div>
					<div *ngSwitchCase="'hi'">प्रतिक्रिया भेजें</div>
					<div *ngSwitchCase="'zh'">发送反馈</div>
					<div *ngSwitchCase="'ar'">ارسل رأيك</div>
					<div *ngSwitchCase="'pt'">ENVIAR COMENTÁRIOS</div>
					<div *ngSwitchDefault>SEND FEEDBACK</div>
	 		</div>
	</button>	
	<button small ion-button outline block icon-start
	(click)="onShowWelcomeSlider()" >
		<div [ngSwitch]="deviceLanguage">
				<div *ngSwitchCase="'en'">SHOW HELP</div>
				<div *ngSwitchCase="'es'">MOSTRAR AYUDA</div>
				<div *ngSwitchCase="'ja'">表示するヘルプ</div>
				<div *ngSwitchCase="'fr'">AFFICHER L'AIDE</div>
				<div *ngSwitchCase="'ru'">ПОМОГИТЕ ПОМОЩЬ</div>
				<div *ngSwitchCase="'de'">ZEIG HILFE</div>
				<div *ngSwitchCase="'hi'">मदद दिखाएं</div>
				<div *ngSwitchCase="'zh'">显示帮助</div>
				<div *ngSwitchCase="'ar'">عرض المساعدة</div>
				<div *ngSwitchCase="'pt'">MOSTRE AJUDA</div>
				<div *ngSwitchDefault>SHOW HELP</div>
		</div>
	</button>	
	</div>
	
	<ion-fab>
		<button ion-fab (click)="showLangOptions()">
		<ion-icon name="md-settings"></ion-icon>
		</button>
	</ion-fab>
<br>
</ion-content>