// .ion-tabs .tabbar {
//    // background-color: #000;
// }

// .tabs {
//    background-color: #000;
// 


.tabbar a[aria-selected=true] {
    border-bottom: 3px;
    border-style: solid;
    // padding-left: 50px;    
    // padding-right: 50px;    
    border-color: #ff9712;    
}


// .platform-ios .tabbar  { 
// margin-top: 15px;
// margin-bottom: 200px !important;
// 		& .tab-button {
// 				& .tab-button-icon {
// 					 transform: scale(0.9);
// 					  // height: 24px;
// 					  // width: 24px;

// 			             // color: red !important;
// 				}
// 			}
// }

.tabbar  {
    background: #fff !important;
  	height: 60px;
    // border-bottom: 1px !important;
    // color: #bbb !important;
    // & .tab-button {
    //     color: #bbb !important;
    //     & .tab-button-icon {
    //         color: #bbb !important;

    //     }

   // }
    // & .tab-button[aria-selected=true]{
    //     // text-shadow: 1px 0px #eaeaea;
    //     color: white !important;
    //     & .tab-button-icon {
    //         text-shadow: 1px 0px #eaeaea;
    //         color: white !important;

    //     }
    // }
}