<ion-tabs tabsPlacement=bottom selectedIndex=0 >
	<ion-tab [root]="tab1Root" tabIcon="custom-fire"></ion-tab>
	<ion-tab [root]="tab2Root" tabIcon="custom-food"></ion-tab>
 	<ion-tab [root]="tab3Root" tabIcon="custom-taxi"></ion-tab>
	<ion-tab [root]="tab4Root" tabIcon="custom-warning"></ion-tab>
	<ion-tab [root]="tab5Root" tabIcon="custom-leaf"></ion-tab>
	<ion-tab [root]="tab6Root" tabIcon="custom-info"></ion-tab>
</ion-tabs>