<ion-content padding  overflow-scroll="false" (swipe)="swipeEvent($event)">
  <div [ngSwitch]="galleryType">
    <ion-row responsive-sm>
      <ion-col  col-4 col-md-4 col-xl-3 *ngFor="let emojiItem of emojiDataBase">
        <div (click)=goToEmojiDetail(emojiItem) class="thumbnail" 
        [style.background-image]="'url(' + emojiItem.emoji_uri + ')'"></div>
      </ion-col>
    </ion-row>  
  </div>

  <div id="lang"></div>

<!-- Language options button -->
  <ion-fab>
    <button ion-fab (click)="showLangOptions()">
      <ion-icon name="custom-translate"></ion-icon></button>
  </ion-fab>
</ion-content>