<ion-content padding overflow-scroll="false" (swipe)="swipeEvent($event)">
  <ion-row responsive-sm>
    <ion-col col-4 col-md-3 col-xl-3 *ngFor="let emojiItem of emojiDataBase">
      <div tappable
        (click)=goToEmojiDetail(emojiItem) class="thumbnail" 
        [style.background-image]="'url('+ emojiItem.emoji_uri +')'"> 
      </div>
    </ion-col>
  </ion-row>  
<ion-fab>
<button ion-fab (click)="showLangOptions()">
<ion-icon name="md-settings"></ion-icon>
</button>
</ion-fab>
<br>
</ion-content>