<ion-header no-border >

	<ion-navbar >
	</ion-navbar>

</ion-header>
<ion-content padding >
<!-- <div class="sub-title"> user lang : {{ lang }}</div> -->
	<!-- Emoji thumbnail -->
	<img src="{{navParams.get('emojiDetailsData').emoji_uri}}">
	
	<!-- Location language -->
	<!-- <div [ngSwitch]="this.getLangByCountryCode(this.countryCode)"> -->
	<div [ngSwitch]="locationLang">

		<p *ngSwitchCase="'en'">{{navParams.get('emojiDetailsData').en}}</p>
		<p *ngSwitchCase="'es'">{{navParams.get('emojiDetailsData').es}}</p>
		<p *ngSwitchCase="'ja'">{{navParams.get('emojiDetailsData').ja}}</p>
		<p *ngSwitchCase="'fr'">{{navParams.get('emojiDetailsData').fr}}</p>
		<p *ngSwitchCase="'ru'">{{navParams.get('emojiDetailsData').ru}}</p>
		<p *ngSwitchCase="'de'">{{navParams.get('emojiDetailsData').de}}</p>
		<p *ngSwitchCase="'hi'">{{navParams.get('emojiDetailsData').hi}}</p>
		<p *ngSwitchCase="'zh'">{{navParams.get('emojiDetailsData').zh}}</p>
		<p *ngSwitchCase="'ar'">{{navParams.get('emojiDetailsData').ar}}</p>
		<p *ngSwitchCase="'pt'">{{navParams.get('emojiDetailsData').pt}}</p>
		<p *ngSwitchDefault></p>
	</div>

	<!-- User language check if the current user language and de device language user is the same -->
	<div [ngSwitch]="deviceLang">
		<div class="sub-title" *ngSwitchCase="'en'">
		( {{navParams.get('emojiDetailsData').en}} )</div>		
		<div class="sub-title" *ngSwitchCase="'es'">
		( {{navParams.get('emojiDetailsData').es}} )</div>		
		<div class="sub-title" *ngSwitchCase="'ja'">
		( {{navParams.get('emojiDetailsData').ja}} )</div>		
		<div class="sub-title" *ngSwitchCase="'fr'">
		( {{navParams.get('emojiDetailsData').fr}} )</div>
		<div class="sub-title" *ngSwitchCase="'ru'">
		( {{navParams.get('emojiDetailsData').ru}} )</div>
		<div class="sub-title" *ngSwitchCase="'de'">
		( {{navParams.get('emojiDetailsData').de}} )</div>
		<div class="sub-title" *ngSwitchCase="'hi'">
		( {{navParams.get('emojiDetailsData').hi}} )</div>
		<div class="sub-title" *ngSwitchCase="'zh'">
		( {{navParams.get('emojiDetailsData').zh}} )</div>
		<div class="sub-title" *ngSwitchCase="'ar'">
		( {{navParams.get('emojiDetailsData').ar}} )</div>
		<div class="sub-title" *ngSwitchCase="'pt'">
		( {{navParams.get('emojiDetailsData').pt}} )</div>
		<div class="sub-title" *ngSwitchDefault>
			{{navParams.get('emojiDetailsData').en}}</div>
	</div>

</ion-content>