page-emoji-details {


  // .masters {
  // background-color: #009688 !important; 
  // }

  img {
      display: block;
      margin: 0 auto;
      height: 60%;
      width: auto;
      margin-top: 20px;
    
  }

  .toolbar-background{

  //  background-color: #ff9712;
    background-color: #fff !important;

  }

  p {
      margin-top: 10px;
      text-align: center !important;
      font-size: 5em; 
      //font-weight:bold;
      margin-bottom: 10px;

  }

  .sub-title {
      font-size: 3em !important; 
      text-align: center !important;
  }

  @media only screen and (max-width: 600px) {

   p { 
      margin-top: 10px;
      font-size: 3em !important;
      text-align: center !important;
      //font-weight:bold !important;
      margin-bottom: 10px;
   }

   .sub-title {
      font-size: 2em !important;
      text-align: center !important;

   }


}

  
}