page-home {
  
}
// outside the brackets page-home {} affects the whole project
.thumbnail {
  position: relative;
  width: 60px !important;
  height: 60px !important;
  overflow: hidden;
  margin:0 auto;
}