<!-- <ion-header>
    <ng2-adsense text-center
    [adClient]="'ca-pub-7207379778635847'"
    [adSlot]= "'6653856071'"
    [width]="320"
    [height]="60">
    </ng2-adsense>
</ion-header> -->
<ion-content padding overflow-scroll="false" (swipe)="swipeEvent($event)">
  <ion-row responsive-sm>
    <ion-col col-4 col-md-3 col-xl-3 *ngFor="let emojiItem of emojiDataBase">
      <div tappable
        (click)=goToEmojiDetail(emojiItem) class="thumbnail" 
        [style.background-image]="'url('+ emojiItem.emoji_uri +')'"> 
      </div>
    </ion-col>
  </ion-row>  
<ion-fab>
<button ion-fab (click)="showLangOptions()">
<ion-icon name="md-settings"></ion-icon>
</button>
</ion-fab>
<br>
</ion-content>


<!-- hacer lista de pendientes para publicar la app


- crear el slide, landing y screenshots 
  para la tienda con la historia de que es Tmoji

- determinar sonido de Tmo

- arreglar el auto translate
- agregar ads a la version web (angular)
- filtrar iconos (quitar los que no se van a usar)
- revisar set de traducciones 





-->
