// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// @font-face {
//   font-family: 'Comfortaa_Regular';
//   src:url('../assets/fonts/Comfortaa_Regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
//  }
//  $font-family-base: "Comfortaa_Regular";
//  $font-family-ios-base: $font-family-base;
//  $font-family-md-base: $font-family-base;
//  $font-family-wp-base: $font-family-base;

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #009688,
  secondary:  #ff9712,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  custom-green: #009688,
  custom-orange: #ff9712
);

$toggle-md-track-background-color-on:#00dac4;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$searchbar-ios-input-search-icon-color:#3b3b3b;
$searchbar-ios-background-color:#fff;
$searchbar-ios-input-background-color:#f6f6f6;
$searchbar-ios-input-clear-icon-color:#3b3b3b;
$searchbar-ios-input-text-color:#3b3b3b;
$searchbar-ios-input-placeholder-color:#3b3b3b;

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Tabs 
// Android
$tabs-md-tab-icon-color-active: #ff9712;
// On iOS
$tabs-ios-tab-icon-color-active: #ff9712;


