<ion-label *ngSwitchCase="'en'">LANGUAGE OPTIONS</ion-label>
<ion-label *ngSwitchCase="'es'">OPCIONES DE LENGUAJE</ion-label>
<ion-label *ngSwitchCase="'ja'">言語オプション</ion-label>
<ion-label *ngSwitchCase="'fr'">OPTIONS DE LANGAGE</ion-label>
<ion-label *ngSwitchCase="'ru'">ЯЗЫКОВЫЕ ВАРИАНТЫ</ion-label>
<ion-label *ngSwitchCase="'de'">SPRACHOPTIONEN</ion-label>
<ion-label *ngSwitchCase="'hi'">भाषा विकल्प</ion-label>
<ion-label *ngSwitchCase="'ch'">语言选项</ion-label>
<ion-label *ngSwitchCase="'ar'">خيارات اللغة</ion-label>
<ion-label *ngSwitchCase="'pt'">OPÇÕES DE LÍNGUA</ion-label>
<ion-label *ngSwitchDefault>LANGUAGE OPTIONS</ion-label>