page-language-options {

	p {
		color:black !important;
	}


	ion-select{
		max-width: 100% !important;
		font-size: 16px !important;
		position: absolute !important;
		right: 0px !important;
		width: auto !important;
		padding: 10px !important;
	}



	ion-label{
		font-size: 14px !important;
	}

}