<!-- <ion-card 
 style="
    border-style: solid !important; 
    border-width: 1px !important; 
    border-color: #009688 !important;
    background-color: #fff;
    "
 > -->
 <ion-card>
    <ion-card-header color="primary" >
      <div [ngSwitch]="deviceLanguage">
        <div *ngSwitchCase="'en'">LANGUAGE OPTIONS</div>
        <div *ngSwitchCase="'es'">OPCIONES DE LENGUAJE</div>
        <div *ngSwitchCase="'ja'">言語オプション</div>
        <div *ngSwitchCase="'fr'">OPTIONS DE LANGAGE</div>
        <div *ngSwitchCase="'ru'">ЯЗЫКОВЫЕ ВАРИАНТЫ</div>
        <div *ngSwitchCase="'de'">SPRACHOPTIONEN</div>
        <div *ngSwitchCase="'hi'">भाषा विकल्प</div>
        <div *ngSwitchCase="'zh'">语言选项</div>
        <div *ngSwitchCase="'ar'">خيارات اللغة</div>
        <div *ngSwitchCase="'pt'">OPÇÕES DE LÍNGUA</div>
        <div *ngSwitchDefault>LANGUAGE OPTIONS</div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list no-lines>
            <ion-item>
                <ion-label>     
                    <div *ngIf="isAutoTranslated; else activeTemplate">  
                        <p>  
                           AUTO TRANSLATE
                        </p>
                     </div>
                     <ng-template #activeTemplate> 
                       <p style="color:#d5d5d5 !important"> AUTO TRANSLATE</p>
                     </ng-template>
                </ion-label>
                <ion-toggle 
                (ionChange)="onToggle($event)"
                [checked]="isAutoTranslated">AUTO TRANSLATE</ion-toggle>
            </ion-item>
            <ion-item>
              <ion-icon item-left name="pin"></ion-icon>
              <ion-label [ngSwitch]="deviceLanguage">
                    <p *ngSwitchCase="'en'">LOCATION</p>
                    <p *ngSwitchCase="'es'">LOCALIZACIÓN</p>
                    <p *ngSwitchCase="'ja'">ロケーション</p>
                    <p *ngSwitchCase="'fr'">LOCALISATION</p>
                    <p *ngSwitchCase="'ru'">МЕСТОПОЛОЖЕНИЕ</p>
                    <p *ngSwitchCase="'de'">STANDORT</p>
                    <p *ngSwitchCase="'hi'">स्थान</p>
                    <p *ngSwitchCase="'zh'">位置</p>
                    <p *ngSwitchCase="'ar'">موقعك</p>
                    <p *ngSwitchCase="'pt'">LOCALIZAÇÃO</p>
                    <p *ngSwitchDefault>LOCATION</p>

              </ion-label>
            </ion-item>
            <ion-item>
              <ion-select
              [placeholder]="locationPlaceHolder"
              [disabled]="isAutoTranslated" 
              [(ngModel)]="locationLanguage">
                <ion-option *ngFor="let location of languageAvailables">{{location}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-icon item-left name="md-person"></ion-icon>
                <ion-label [ngSwitch]="deviceLanguage">
                    <p *ngSwitchCase="'en'">USER</p>
                    <p *ngSwitchCase="'es'">USUARIO</p>
                    <p *ngSwitchCase="'ja'">ユーザー</p>
                    <p *ngSwitchCase="'fr'">UTILISATEUR</p>
                    <p *ngSwitchCase="'ru'">ПОЛЬЗОВАТЕЛЬ</p>
                    <p *ngSwitchCase="'de'">BENUTZER</p>
                    <p *ngSwitchCase="'hi'">उपयोगकर्ता</p>                      
                    <p *ngSwitchCase="'zh'">用戶</p>                  
                    <p *ngSwitchCase="'ar'">المستخدم</p>
                    <p *ngSwitchCase="'pt'">UTILIZADOR</p>
                    <p *ngSwitchDefault>USER</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-select 
              [placeholder]="userPlaceHolder"
              [disabled]="isAutoTranslated" 
              [(ngModel)]="userLanguage" 
               >
                <ion-option
                *ngFor="let location2 of languageAvailables">{{location2}}</ion-option>
              </ion-select>
            </ion-item>
            <br>
            <ion-item>
            <button 
            class="specific-button-no-bold" item-right 
            ion-button clear color="custom-green"
            (click)="onAction('cancel')">
                <div [ngSwitch]="deviceLanguage">
                      <div *ngSwitchCase="'en'">CANCEL</div>
                      <div *ngSwitchCase="'es'">CANCELAR</div>
                      <div *ngSwitchCase="'ja'">キャンセル</div>
                      <div *ngSwitchCase="'fr'">ANNULER</div>
                      <div *ngSwitchCase="'ru'">ОТМЕНА</div>
                      <div *ngSwitchCase="'de'">STORNIEREN</div>
                      <div *ngSwitchCase="'hi'">रद्द करें</div>
                      <div *ngSwitchCase="'zh'">取消</div>
                      <div *ngSwitchCase="'ar'">إلغاء</div>
                      <div *ngSwitchCase="'pt'">CANCELAR</div>
                      <div *ngSwitchDefault>CANCEL</div>
                </div>
            </button>
            <button  
            class="specific-button-bold" item-right 
            ion-button clear color="custom-green"
            (click)="onAction('save')">
              <div [ngSwitch]="deviceLanguage">
                    <div *ngSwitchCase="'en'">SAVE</div>
                    <div *ngSwitchCase="'es'">GUARDAR</div>
                    <div *ngSwitchCase="'ja'">セーブ</div>
                    <div *ngSwitchCase="'fr'">ENREGISTRER</div>
                    <div *ngSwitchCase="'ru'">СОХРАНИТЬ</div>
                    <div *ngSwitchCase="'de'">SPEICHERN</div>
                    <div *ngSwitchCase="'hi'">बचाना</div>
                    <div *ngSwitchCase="'zh'">保存</div>
                    <div *ngSwitchCase="'ar'">حفظ</div>
                    <div *ngSwitchCase="'pt'">SALVAR</div>
                    <div *ngSwitchDefault>SAVE</div>
              </div>
          </button> 
          </ion-item> 
      </ion-list>
    </ion-card-content>
  </ion-card> 